html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
    height:100%;

    margin:0;
    padding:0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #28b29b;
    background: -moz-linear-gradient(top,  #28b29b 0%, #bde8a1 50%, #bde8a1 100%);
    background: -webkit-linear-gradient(top,  #28b29b 0%,#bde8a1 50%,#bde8a1 100%);
    background: linear-gradient(to bottom,  #28b29b 0%,#bde8a1 50%,#bde8a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b29b', endColorstr='#bde8a1',GradientType=0 );
    color:#31705F;
}
h1{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    text-transform: uppercase;
    font-weight:100;
}

a{
    color:#204F57;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
a:hover{
    color:#102A2D;
}
.container{
    padding-top:40px;
    background-color:rgba(255,255,255,0.5);
    width:90%;
    margin-left:5%;
    height:calc(100% - 40px);
}
.loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.loader.active {
    opacity: 1;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out, color 6s ease-in-out;
    animation: dash 1.5s ease-in-out, color 6s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%, 0% {
        stroke: #008744;
    }
    40% {
        stroke: #ffa700;
    }
    66% {
        stroke: #d62d20;
    }
    80%, 90% {
        stroke: #d62d20;
    }
}

@keyframes color {
    100%, 0% {
        stroke: #008744;
    }
    40% {
        stroke: #ffa700;
    }
    66% {
        stroke: #d62d20;
    }
    80%, 90% {
        stroke: #d62d20;
    }
}

.status {
    width: 125px;
    height: 125px;
    margin-top: 10px;
    border-radius: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.status::after {
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    font-weight:100;
}

.status-active {
    opacity: 1;
}

.status-ok {
    background-color: #008744;
}

.status-ok::after {
    content: "ONLINE";
}
.status-slow::after {
    content: "SLOW";
}
.status-down::after {
    content: "DOWN";
}
.status-slow {
    background-color: #ffa700;
}
.status-down {
    background-color: #d62d20;
}
.github-button{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:0;
    background-color:#204F57;
    width:70px;
    height:70px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.github-button:hover{
    background-color:#102A2D;
}

.github-icon{
    background-image:url(../img/github.png);
    width:32px;
    height:32px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
footer{
    position:absolute;
    bottom:20px;
    width:100%;
    text-align:center;
}
#intervalStatus{
    margin-top:10px;
}
@media only screen and (max-width: 767px) {
    h1{
        font-size:24px;
    }
    .github-button{
        width:40px;
        height:40px;
    }
}
::selection {
    background-color: #204F57;
    color: white;
}
::-moz-selection {
    background-color: #204F57;
    color: white;
}